---
import { returnTimeDifference } from '../helpers/timeDifference'

const { job } = Astro.props
---

<a href={`job/${job.id}`} target="_blank" data-link="job-details">
  <article data-id={job.id} class="card-container">
    <div style={{ backgroundColor: `${job.logoBackground}` }} class="card-logo">
      <img src={job.logo.at(0).url} alt="company logo" />
    </div>
    <div class="grid content-start gap-2">
      <div class="gray-text-wrapper">
        <p>{returnTimeDifference(job.xata.createdAt)}</p>
        <p class="dot">&#x2022;</p>
        <p>{job.contract}</p>
      </div>
      <h2 class="text-md font-[800] dark:text-white">{job.position}</h2>
      <p class="text-gray-500">{job.company}</p>
    </div>
    <p class="self-end text-blue-500 text-xs font-[700]">
      {job.location}
    </p>
  </article>
</a>
